<div class="container main-content mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a routerLink="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
          <a routerLink="/create-account" class="list-group-item list-group-item-action">Create Account</a>
          <a routerLink="/beneficiary" class="list-group-item list-group-item-action active">Add Beneficiary</a>
          <a routerLink="/remove-beneficiary" class="list-group-item list-group-item-action">Remove Beneficiary</a>
          <a routerLink="/transaction" class="list-group-item list-group-item-action">Transfer Money</a>
          <a routerLink="/statement" class="list-group-item list-group-item-action">View Statement</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <b>Add Beneficiary</b>
          </div>
          <div class="card-body">
            <form [formGroup]="beneficiaryForm"> 
              <div class="form-group" >
                <label for="accountNumber"></label>
                <input type="text" class="form-control" id="accountNumber1" placeholder="Enter Account Number" ng-model="accReg">
                <label for="accountNumber"></label>
                <input type="text" class="form-control" id="accountNumber2" placeholder="Confirm Account" ng-model="accReg2" ng-pattern="accReg">
                
                <hr/>
              </div>
              <div class="form-group">
                <label for="accountType">Select Type of Account:</label>
                <select class="form-control" id="accountType">
                    <option>Savings Account</option>
                    <option>Checking Account</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success" (click)=addBeneficiary()>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>