<div class="container">
    <h1>Customer Profile</h1>
    <form #customerForm="ngForm" (submit)="onSubmit(customerForm)">
      <div class="form-group">
        <label for="customerId">Customer ID</label>
        <textarea id="customerId" class="form-control" readonly>{{customer.customerId}}</textarea>
      </div>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" class="form-control" [(ngModel)]="customer.fullname" name="fullname">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" class="form-control" [(ngModel)]="customer.phone" name="phone">
      </div>
      <div class="form-group">
        <label for="pan">PAN</label>
        <input type="text" id="pan" class="form-control" [(ngModel)]="customer.pan" name="pan">
      </div>
      <div class="form-group">
        <label for="aadhar">AADHAR</label>
        <input type="text" id="aadhar" class="form-control" [(ngModel)]="customer.aadhar" name="aadhar">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>  