<div class="container main-content mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a routerLink="/dashboard" class="list-group-item list-group-item-action active">Dashboard</a>
        <a routerLink="/create-account" class="list-group-item list-group-item-action">Create Account</a>
        <a href="/add-beneficiary" class="list-group-item list-group-item-action">Add Beneficiary</a>
        <a href="/remove-beneficiary" class="list-group-item list-group-item-action">Remove Beneficiary</a>
        <a href="/transfer" class="list-group-item list-group-item-action">Transfer Money</a>
        <a href="/statement" class="list-group-item list-group-item-action">View Statement</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Accounts
        </div>
        <div class="card-body">
          <div class="table-responsive" *ngIf="accounts">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Balance</th>
                  <th>Enable/Disable</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let account of accounts" [ngClass]="account.status">
                  <td>{{ account.accNumber }}</td>
                  <td>{{ account.accType }}</td>
                  <td>{{ account.accBalance | currency }}</td>
                  <td>
                    <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>