<div class="container main-content mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a routerLink="/dashboard" class="list-group-item list-group-item-action active">Dashboard</a>
        <a routerLink="/create-account" class="list-group-item list-group-item-action">Create Account</a>
        <a routerLink="/beneficiary" class="list-group-item list-group-item-action">Add Beneficiary</a>
        <a routerLink="/remove-beneficiary" class="list-group-item list-group-item-action">Remove Beneficiary</a>
        <a routerLink="/transaction" class="list-group-item list-group-item-action">Transfer Money</a>
        <a routerLink="/statement" class="list-group-item list-group-item-action">View Statement</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Accounts
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Account Number</th>
                  <th>Account Type</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123456789</td>
                  <td>Savings</td>
                  <td>$5,000.00</td>
                </tr>
                <tr>
                  <td>987654321</td>
                  <td>Checking</td>
                  <td>$2,500.00</td>
                </tr>
                <tr>
                  <td>456789123</td>
                  <td>Credit Card</td>
                  <td>$1,200.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>